.advantages {
  list-style: none;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 13px;
  margin-bottom: 23px;

  &__item {
    padding-left: 70px;
    padding-right: 23px;
    margin-bottom: -4px;
    margin-top: 21px;
    position: relative;
  }

  &__caption {
    font-family: "ptsansbold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: $color-black;

    margin: 0;
  }

  &__text {
    font-family: "ptsansbold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    color: $color-text-gray;
  }

  &__text--br {
    display: none;
  }
}

.advantages__svg {
  position: absolute;
  top: -8px;
  left: 21px;
  width: 40px;
  height: 35px;
}

.advantages__svg path {
  fill: $color-blue;
}

.advantages__svg polygon {
  fill: $color-blue;
}

.advantages__svg g {
  fill: $color-blue;
}

@media (min-width: 768px) {
  .advantages {
    width: 768px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 15px;

    &__item {
      width: 256px;
      padding: 146px 33px 30px 32px;
      margin: 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__caption {
      font-size: 21px;
      line-height: 26px;
    }

    &__text {
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      margin-top: 23px;
    }

    &__text--br {
      display: none;
    }
  }

  .advantages__item:nth-child(3) {
    order: 2;
    padding-left: 51px;
    padding-right: 54px;
  }

  .advantages__item:nth-child(2) {
    order: 3;
    padding-top: 156px;
  }

  .advantages__svg {
    width: 75px;
    height: 75px;
    background-size: 75px;
    top: 45px;
    left: 87px;
  }

  .advantages__item:nth-child(2) .advantages__svg {
    background-size: 75px 75px;
  }

  .advantages__item:last-child .advantages__svg {
    top: 49px;
  }

  .advantages__item:nth-child(2) .advantages__text {
    margin-top: 10px;
  }
}

@media (min-width: 1200px) {
  .advantages {
    width: 1200px;
    justify-content: space-around;
    margin-bottom: 36px;

    &__item {
      width: 296px;
      padding: 146px 0 30px 0;
    }

    &__text--br {
      display: inline;
    }
  }

  .advantages__item:nth-child(3) {
    padding-left: 4px;
    padding-right: 0;
  }


  .advantages__svg {
    left: 110px;
    width: 74px;
    height: 77px;
  }

  .advantages__item:nth-child(2) {
    padding-top: 146px;
  }

  .advantages__item:nth-child(2) .advantages__caption {
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
