.footer {
  background-color: $color-white;
  width: 320px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 78px;

  &--index {
    margin-top: 43px;
  }

  &--photo {
    margin-top: 81px;
  }

  &__tags {
    font-family: "ptsansbold", sans-serif;
    color: $color-black;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 320px;
    margin-bottom: 29px;
  }

  &__copiright {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 14px;
    padding-left: 81px;
    padding-right: 94px;
  }

  &__copiright-developer {
    font-family: "ptsans", sans-serif;
    color: $color-black;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    margin-right: 23px;
  }

  &__copiright-link {
    font-size: 0;
    position: relative;
  }

  &__copiright-svg {
    position: absolute;
    top: 7px;
    left: -13px;
  }
}

.footer__copiright-link:hover .footer__copiright-svg path {
  fill: $color-blue;
}

.footer__copiright-link:focus .footer__copiright-svg path {
  fill: $color-gallery-caption;
}

@media (min-width: 768px) {
  .footer {
    width: 768px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 26px;

    &--photo {
      margin-top: 22px;
    }

    &--form {
      margin-top: 91px;
    }

    &__tags {
      width: 216px;
      text-align: end;
      padding-right: 22px;
      padding-top: 17px;
    }

    &__copiright {
      width: 263px;
      padding-left: 0;
      padding-right: 0;
      margin-top: 0;
    }

    &__social {
      width: 276px;
    }

    &__copiright-developer {
      margin-top: 16px;
    }

    &__copiright-svg {
      top: 12px;
    }
  }
}

@media (min-width: 1200px) {
  .footer {
    width: 1200px;
    margin-top: 28px;
    position: relative;

    &--photo {
      margin-top: 67px;
    }

    &--form {
      margin-top: 99px;
    }

    &__tags {
      width: 278px;
    }

    &__copiright {
      width: 278px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 31px;
    }
  }
}
