.gallery {
  margin-top: 37px;

  &__item {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 320px;
    margin-bottom: 39px;
  }

  &__item-box {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item-link {
    font-size: 0;
  }

  &__item-caption {
    font-family: "ptsansbold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    color: $color-black;
    width: 320px;
    margin-top: 10px;
    padding-left: 17px;
  }

  &__item-text {
    font-family: "ptsans", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    color: $color-text-gray;
    width: 320px;
    padding-left: 21px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 14px;
  }

  &__item-like {
    font-family: "ptsansbold", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;

    color: $color-black;
    width: 320px;
    padding-left: 56px;
    margin-top: 14px;
    position: relative;
  }

  &__item-svg {
    position: absolute;
    top: -2px;
    left: 19px;
  }
}

.gallery__item-svg path {
  fill: $color-black;
  opacity: 0.3;
}

@media (min-width: 768px) {
  .gallery {
    width: 768px;
    display: grid;
    grid-template-columns: repeat(2, 324px);
    grid-gap: 0;
    margin-top: 20px;
    padding-right: 60px;
    padding-left: 60px;

    &__item {
      width: 324px;
      margin-bottom: 0;
    }

    &__item--first {
      width: 648px;
      grid-column: 1 / -1;
    }

    &__item-box {
      width: 324px;
    }

    &__item-box--first {
      width: 648px;
    }

    &__item-link {
      width: 100%;
    }

    &__item-img {
      width: 100%;
    }

    &__item-caption {
      width: 324px;
      margin-top: 0;
      padding-left: 21px;
      padding-top: 15px;
      background-color: $color-control;
    }

    &__item-caption--first {
      width: 648px;
      margin-top: 0;
      padding-left: 21px;
      padding-top: 15px;
      background-color: $color-control;
    }

    &__text-box {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 100%;
      position: relative;
      background-color: $color-control;
    }

    &__item-text {
      font-size: 14px;
      line-height: 24px;
      padding-left: 20px;
      width: 100%;
      margin-bottom: 17px;
    }

    &__item-text--first {
      font-size: 14px;
      line-height: 24px;
      padding-left: 20px;
      width: 100%;
      margin-bottom: 17px;
    }

    &__item-like {
      text-align: right;
      position: absolute;
      top: -24px;
      right: 30px;
      width: 92px;
    }

    &__item-like--first {
      text-align: right;
      position: absolute;
      top: -24px;
      right: 20px;
      width: 100px;
    }

    &__item-caption--three {
      background-color: $color-gallery;
    }

    &__text-box--three {
      background-color: $color-gallery;
    }
  }

  .gallery__item-img img {
    width: 324px;
    height: 267px;
  }

  .gallery__item-img--first img {
    width: 648px;
    height: 400px;
  }

  .gallery__item-svg {
    left: 37px;
  }

  .gallery__item-svg path {
    fill: $color-black;
    opacity: 0.3;
  }
}


@media (min-width: 1200px) {
  .gallery {
    width: 1200px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 3px;
    grid-template-columns: repeat(3, 400px);

    &__item {
      width: 400px;
      margin-bottom: 0;
      position: relative;
    }

    &__item--first {
      width: 1200px;
    }

    &__item-box {
      width: 400px;
      position: relative;
    }

    &__item-box--first {
      width: 1200px;
    }

    &__item-link {
      width: 100%;
    }

    &__item-img {
      width: 100%;
    }

    &__item-caption {
      width: 400px;
      position: absolute;
      color: $color-white;
      background-color: $color-gallery-caption;
      bottom: 40px;
    }

    &__item-caption--first {
      width: 1200px;
    }

    &__text-box {
      width: 100%;
      position: absolute;
      background-color: $color-gallery-caption;
      bottom: -1px;
    }

    &__text-box--three {
      background-color: $color-gallery-caption;
    }

    &__item-text {
      color: $color-white;
    }

    &__item-like {
      color: $color-white;
    }
  }

  .gallery__item-img img {
    width: 400px;
    height: 267px;
  }

  .gallery__item-img--first img {
    width: 1200px;
    height: 400px;
  }

  .gallery__item-svg path {
    fill: $color-white;
    opacity: 1;
  }
}
