body {
  margin: 0;
  min-width: 320px;
}

.container {
  width: 320px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 689px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .container {
    width: 1320px;
    margin: 0 auto;
  }
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  font-family: "ptsans", sans-serif;
  background-color: $color-blue;
  border: none;
  padding-top: 15px;
  padding-bottom: 17px;
  text-align: center;
  width: 280px;
}
