.main {
  width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.main__header {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
  z-index: 0;

  &-logo {
    position: relative;
    width: 320px;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 36px;
  }

  &-logo--photo {
    margin-bottom: 0;
  }

  &-img {
    position: absolute;
    z-index: 0;
  }

  &-svg {
    z-index: 1;
    margin-top: 22px;
    width: 282px;
  }

  &-caption {
    font-family: "ptsansbold", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
    width: 320px;
    margin-bottom: 18px;
    padding-right: 30px;
    padding-left: 30px;
  }

  &-text {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-text-gray;
    padding-right: 30px;
    padding-left: 30px;
  }
}

.main__header-svg--decor {
  position: absolute;
  width: 320px;
  bottom: -21px;
}

.main__header-svg--form {
  bottom: -49px;
}


.main__header-svg--photo {
  bottom: 175px;
}

.main__header-svg--photo-logo {
  width: 232px;
  margin-top: 31px;
}

.main__header-logo--photo {
  margin-bottom: 0px;
}

.main__header-img--photo img {
  min-height: 160px;
}

.main__header-caption--photo {
  margin-bottom: 11px;
  margin-top: 81px;
}

.main__header-caption--form {
  margin-top: 49px;
  margin-bottom: 13px;
}

.main__header-text--photo {
  padding-right: 22px;
  padding-left: 23px;
}

.main__header-text--form {
  padding-right: 22px;
  padding-left: 23px;
  line-height: 24px;
}

.main__header-svg--tablet {
  display: none;
}

.main__header-svg--desktop {
  display: none;
}

@media (min-width: 768px) {
  .main {
    width: 768px;

    &__header {
      width: 768px;
    }

    &__header-logo {
      width: 768px;
      min-height: 518px;
      margin-bottom: 27px;
    }

    &__header-logo--photo {
      margin-bottom: 0;
    }

    &__header-img--photo {
      height: 290px;
    }

    &__header-svg {
      width: 461px;
      margin-top: 77px;
    }

    &__header-svg--photo {
      bottom: 112px;
    }

    &__header-svg--form {
      bottom: 228px;
    }

    &__header-logo--form {
      min-height: 290px;
    }

    &__header-caption {
      font-size: 21px;
      line-height: 26px;
      align-items: center;
      text-align: center;
      text-transform: uppercase;

      width: 768px;
      padding-left: 161px;
      padding-right: 163px;
    }

    &__header-caption--photo {
      font-size: 30px;
      line-height: 26px;

      margin-top: 160px;
      margin-bottom: 4px;
    }

    &__header-caption--form {
      font-size: 30px;
      line-height: 26px;
      margin-top: 35px;
    }

    &__header-text--photo {
      padding-right: 167px;
      padding-left: 169px;
      margin-bottom: 37px;
    }

    &__header-text--form {
      padding-right: 166px;
      padding-left: 165px;
      margin-top: 20px;
    }
  }

  .main__header-img img {
    width: 768px;
    min-height: 518px;
  }

  .main__header-img--photo img {
    min-height: 290px;
  }

  .main__header-svg--photo-logo {
    margin-top: 94px;
  }

  .main__header-svg--decor {
    margin-top: 0;
    bottom: -15px;
  }

  .main__header-svg--tablet {
    display: block;
    width: 768px;
    height: 57px;
    bottom: 0;
  }

  .main__header-svg--tablet.main__header-svg--photo {
    bottom: 228px;
  }

  .main__header-svg--mobile {
    display: none;
  }

  .main__header-svg--desktop {
    display: none;
  }
}


@media (min-width: 1200px) {
  .main {
    width: 1200px;

    &__header {
      width: 1200px;
    }

    &__header-logo {
      width: 1200px;
      margin-bottom: 38px;
    }

    &__header-svg--photo-logo {
      margin-top: 101px;
    }

    &__header-img {
      width: 1200px;
    }

    &__header-caption--photo {
      margin-top: 215px;
    }

    &__header-text--photo {
      padding-right: 386px;
      padding-left: 386px;
      margin-top: 32px;
    }
  }

  .main__header-img--photo {
    height: 302px;
  }

  .main__header-img img {
    width: 1200px;
  }

  .main__header-img--photo img {
    height: 299px;
  }

  .main__header-svg--tablet {
    display: none;
  }

  .main__header-svg--mobile {
    display: none;
  }

  .main__header-svg--desktop {
    display: block;
    width: 1200px;
    bottom: 0;
  }

  .main__header-svg--photo {
    bottom: 247px;
  }
}
