.review {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;

  &__box {
    border: 0 none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;

    margin-bottom: 14px;
    width: 320px;
    padding-left: 18px;
    padding-top: 1px;
  }

  &__box-caption {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;

    margin-bottom: 19px;
  }

  &__box-label {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: $color-text-gray;

    margin-bottom: 19px;
  }

  &__box-label--click {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    color: $color-black;
    text-transform: inherit;

    position: relative;
    padding-left: 84px;
    margin-top: 16px;
    margin-bottom: 27px;
  }

  &__checkbox {
    margin-top: 17px;
    margin-bottom: 55px;
  }

  &__box-label--chekbox {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    color: $color-black;
    text-transform: inherit;

    position: relative;
    padding-left: 74px;
    margin-top: 18px;
    margin-bottom: 35px;
  }

  &__box-input {
    border: 0 none;
    background: $color-control;

    padding-top: 23px;
    padding-left: 22px;
    padding-bottom: 20px;
    margin-left: 12px;
    width: 230px;
  }

  &__box-adress {
    border: 0 none;
    background: $color-control;

    padding-top: 23px;
    padding-left: 22px;
    padding-bottom: 20px;
    width: 280px;
    position: relative;
  }

  &__box-svg {
    display: block;
    width: 58px;
    height: 58px;
    position: absolute;
    top: 35px;
    right: 5px;
    background: $color-adress;
  }

  &__box-radio {
    z-index: -1;
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
  }

  &__box-checkbox {
    z-index: -1;
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
  }

  &__box-textarea {
    width: 280px;
    height: 160px;
    border: 0 none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;

    background: $color-control;
  }

  &__btn {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    $color-background: $color-blue;

    margin-top: 28px;
  }

  &__info {
    display: none;
  }
}


.review__box-input::placeholder {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  color: $color-black;
}

.review__box-input--surname {
  width: 192px;
}

.review__box-input--patronymic {
  width: 194px;
}

.review__box-adress::placeholder {
  font-family: "ptsansbold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  color: $color-black;
}

.review__box-textarea::placeholder {
  font-family: "ptsansbold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  color: $color-black;
}


.review__box--click {
  margin-top: 12px;
  margin-bottom: 18px;
  padding-left: 12px;
}

.review__box--textarea {
  margin-top: 4px;
}

.review__box-svg svg {
  position: absolute;
  top: 20px;
  left: 20px;
}

.review__box-caption--info {
  margin-bottom: 18px;
}

.review__box-caption--textarea {
  margin-bottom: 14px;
}


.review__box-label--info {
  margin-bottom: 9px;
  position: relative;
}

.review__box-label--text {
  margin-top: 0;
  padding-left: 23px;
  margin-bottom: 10px;
}

.review__box-label--click::after {
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 7px;

  background-color: $color-control;
  border: 5px solid $color-control;
}

.review__box-label--click::before {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 23px;

  background: $color-text-gray;
  border: 3px solid $color-text-gray;
  z-index: 1;
  display: none;
}

.review__box-radio:checked + .review__box-label--click::before {
  display: block;
}

.review__box-label--chekbox::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  left: 0;
  top: -15px;

  background: $color-control;
  border: 5px solid $color-control;
  z-index: 0;
}

.review__box-label--chekbox::before {
  content: "";
  position: absolute;
  left: 16px;
  top: 7px;
  display: none;
  width: 24px;
  height: 17px;

  background-image: url("../../img/icon-tick.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
}

.review__box-checkbox:checked + .review__box-label--chekbox::before {
  display: block;
}

.review__checkbox:last-child {
  margin-bottom: 29px;
}

@media (min-width: 768px) {
  .review {
    width: 768px;
    justify-content: space-around;
    margin-top: 72px;
    padding-left: 7px;

    &__box {
      width: 370px;
      padding-left: 39px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 0;
    }

    &__box--first {
      order: 2;
      padding-left: 50px;
    }

    &__box--click {
      order: 1;
      margin-top: 0;
      position: relative;
    }

    &__box--second {
      order: 3;
      width: 100%;
      margin-top: 33px;
      justify-content: center;
      padding-left: 51px;
    }

    &__box--last {
      order: 4;
      width: 100%;
      justify-content: space-around;
      margin-top: 13px;
      display: flex;
      flex-wrap: wrap;
    }

    &__box--textarea {
      order: 5;
      width: 100%;
      justify-content: center;
      margin-top: 13px;
      padding-left: 51px;
    }

    &__btn {
      order: 6;
      margin-right: 65px;
      width: 324px;
    }

    &__info {
      order: 7;
      font-family: "ptsans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      align-items: center;
      text-align: right;
      text-transform: uppercase;
      color: $color-text-gray;
      display: block;
    }

    &__box-caption {
      font-size: 21px;
      line-height: 26px;
      margin-bottom: 56px;
      width: 100%;
      text-align: left;
      padding-left: 10px;
    }

    &__box-label--click {
      margin-bottom: 36px;
    }

    &__box-label--info {
      width: 648px;
      margin-bottom: 21px;
    }

    &__box-adress {
      width: 100%;
    }

    &__box-label--chekbox {
      width: 210px;
    }

    &__box-svg {
      right: 0;
    }

    &__box-textarea {
      width: 648px;
    }
  }

  .review__box--click::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 292px;
    top: 4px;
    right: 0;
    background-color: $color-border;
  }

  .review__box--first .review__box-caption {
    padding-left: 0;
  }

  .review__box--second .review__box-caption {
    text-align: center;
    padding-left: 0;
    margin-bottom: 18px;
  }

  .review__box--last .review__box-caption {
    text-align: center;
    margin-bottom: 18px;
    padding-left: 205px;
    padding-right: 212px;
  }

  .review__box--textarea .review__box-caption {
    text-align: center;
    padding-left: 0;
    margin-bottom: 18px;
  }

  .review__box-label--click::after {
    top: -15px;
    left: 12px;
  }

  .review__box-label--click::before {
    top: 2px;
    left: 28px;
  }
}

@media (min-width: 1200px) {
  .review {
    margin-top: 44px;
    width: 1200px;
    padding-left: 104px;
    padding-right: 104px;
    justify-content: space-between;

    &__box {
      width: 491px;
    }

    &__box--click {
      padding-left: 7px;
    }

    &__box--first {
      padding-left: 78px;
    }

    &__box--second {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &__box-label--decs {
      display: none;
    }

    &__box-adress {
      width: 317px;
    }

    &__box-label--text {
      padding-left: 12px;
      margin-right: 18px;
    }

    &__box-label--info {
      display: flex;
      width: 500px;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0;
    }

    &__box-svg {
      right: 77px;
      top: -1px;
    }

    &__box--last {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &__box--textarea {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }

    &__box-textarea {
      width: 960px;
    }

    &__btn {
      width: 480px;
    }

    &__box-caption--click {
      padding-left: 87px;
    }
  }

  .review__box--second .review__box-caption {
    margin-bottom: 70px;
  }
}
