.review {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 320px;

  &__box {
    border: 0 none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    margin-bottom: 14px;
    width: 320px;
    padding-left: 18px;
    padding-top: 1px;
  }

  &__box--last {
    margin-bottom: 46px;
  }

  &__box-caption {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;

    margin-bottom: 19px;
  }

  &__box-caption--click {
    margin-bottom: 22px;
  }

  &__box-label {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: $color-text-gray;

    margin-bottom: 19px;
  }

  &__box-label--click {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    color: $color-black;
    text-transform: inherit;

    position: relative;
    padding-left: 84px;
    margin-top: 16px;
    margin-bottom: 27px;
  }

  &__checkbox {
    margin-top: 16px;
  }

  &__box-label--chekbox {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    color: $color-black;
    text-transform: inherit;

    position: relative;
    padding-left: 74px;
    margin-top: 18px;
    margin-bottom: 35px;
  }

  &__box-input {
    background: $color-control;

    padding-top: 19px;
    padding-left: 17px;
    padding-bottom: 16px;
    margin-left: 14px;
    width: 230px;
    border: 4px solid $color-control;
    box-sizing: border-box;
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
  }

  &__box-adress {
    background: $color-control;

    padding-top: 23px;
    padding-left: 22px;
    padding-bottom: 20px;
    padding-right: 58px;
    width: 280px;
    position: relative;
    border: 0 none;
  }

  &__box-svg {
    display: block;
    width: 58px;
    height: 58px;
    position: absolute;
    top: 33px;
    right: 0;
    background: $color-adress;
  }

  &__box-svg--last {
    top: 37px;
  }


  &__box-radio {
    z-index: -1;
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
  }

  &__box-checkbox {
    z-index: -1;
    opacity: 0;
    margin: 0;
    width: 0;
    height: 0;
  }

  &__box-textarea {
    width: 280px;
    height: 160px;
    border: 0 none;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;
    padding-top: 12px;
    padding-right: 20px;
    padding-bottom: 12px;

    background: $color-control;
  }

  &__btn {
    font-family: "ptsans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    $color-background: $color-blue;

    margin-top: 28px;
  }

  &__info {
    display: none;
  }

  &__checkbox--first {
    margin-bottom: 54px;
  }

  &__box--second {
    margin-bottom: 23px;
  }
}

.review__box-input::placeholder {
  font-family: "ptsans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  color: $color-black;
}

.review__box-input--surname {
  width: 192px;
}

.review__box-input--patronymic {
  width: 194px;
}

.review__box-adress::placeholder {
  font-family: "ptsansbold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  color: $color-black;
}

.review__box-textarea::placeholder {
  font-family: "ptsansbold", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;

  color: $color-black;
}


.review__box--click {
  margin-top: 12px;
  margin-bottom: 18px;
  padding-left: 12px;
}

.review__box--textarea {
  margin-top: 4px;
}

.review__box-svg svg {
  position: absolute;
  top: 20px;
  left: 20px;
}

.review__box-caption--info {
  margin-bottom: 18px;
}

.review__box-caption--textarea {
  margin-bottom: 14px;
}


.review__box-label--info {
  margin-bottom: 9px;
  position: relative;
  display: block;
}

.review__box-label--text {
  margin-top: 0;
  padding-left: 23px;
  margin-bottom: 8px;
}

.review__box-label--click::after {
  content: "";
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  position: absolute;
  top: -15px;
  left: 7px;

  background-color: $color-control;
  border: 5px solid $color-control;
}

.review__box-label--click::before {
  content: "";
  width: 21px;
  height: 21px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 23px;

  background: $color-text-gray;
  border: 3px solid $color-text-gray;
  z-index: 1;
  display: none;
}

.review__box-radio:checked + .review__box-label--click::before {
  display: block;
}

.review__box-label--chekbox::after {
  content: "";
  position: absolute;
  width: 56px;
  height: 56px;
  left: -4px;
  top: -16px;
  background: $color-control;
  border: 5px solid $color-control;
  z-index: 0;
}

.review__box-label--chekbox::before {
  content: "";
  position: absolute;
  left: 13px;
  top: 4px;
  display: none;
  width: 24px;
  height: 17px;

  background-image: url("../img/icon-tick.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 1;
}

.review__box-checkbox:checked + .review__box-label--chekbox::before {
  display: block;
}

.review__checkbox:first-child {
  margin-bottom: 55px;
}

.review__box-adress--first {
  margin-bottom: 10px;
  margin-top: 6px;
}

.review__box-adress--last {
  margin-top: 10px;
}

.review__box-input:hover {
  background: $color-btn-disbled;
  border: 4px solid $color-btn-disbled;
}

.review__box-input:focus {
  background-color: $color-white;
  border: 4px solid $color-btn-disbled;
  box-sizing: border-box;
}

.review__box-input:active {
  background-color: $color-white;
  border: 4px solid $color-btn-disbled;
  box-sizing: border-box;
}

.review__box-label--click:hover::after {
  background: $color-btn-disbled;
  border: 5px solid $color-btn-disbled;
}

.review__box-label--click:focus::after {
  background: $color-click-focus;
  border: 5px solid $color-click-focus;
}

.review__box-label--click:focus::before {
  background: $color-click-focus-before;
  border-color: $color-radio;
}

.review__box-label--click:active::after {
  background: $color-click-focus;
  border: 5px solid $color-click-focus;
}

.review__box-label--click:active::before {
  background: $color-click-focus-before;
  border-color: $color-radio;
}

.review__box-label--chekbox:focus::before {
  opacity: 0.3;
}

.review__box-label--chekbox:active::before {
  opacity: 0.3;
}

.review__box-label--chekbox:hover::after {
  background: $color-btn-disbled;
  border: 5px solid $color-btn-disbled;
}

.review__box-label--chekbox:focus::after {
  background: $color-click-focus;
  border-color: $color-click-focus;
}

.review__box-label--chekbox:active::after {
  background: $color-click-focus;
  border-color: $color-click-focus;
}

@media (min-width: 768px) {
  .review {
    width: 768px;
    justify-content: space-around;
    margin-top: 72px;
    padding-left: 7px;

    &__box {
      width: 370px;
      padding-left: 39px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding-bottom: 0;
    }

    &__box-input {
      width: 219px;
    }

    &__box-input--surname {
      width: 178px;
    }

    &__box-input--patronymic {
      width: 182px;
    }

    &__box--first {
      order: 2;
      padding-left: 50px;
    }

    &__box--click {
      order: 1;
      margin-top: 0;
      position: relative;
    }

    &__box--second {
      order: 3;
      width: 100%;
      margin-top: 18px;
      justify-content: center;
      padding-left: 51px;
    }

    &__box--last {
      order: 4;
      width: 100%;
      justify-content: space-around;
      margin-top: 2px;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 27px;
    }

    &__box--textarea {
      order: 5;
      width: 100%;
      justify-content: center;
      margin-top: 10px;
      padding-left: 51px;
    }

    &__btn {
      order: 6;
      margin-right: 65px;
      width: 324px;
      padding-left: 0;
      padding-right: 10px;
      margin-top: 43px;
    }

    &__info {
      order: 7;
      font-family: "ptsans", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 26px;
      align-items: center;
      text-align: right;
      text-transform: uppercase;
      color: $color-text-gray;
      display: block;
      margin-top: 61px;
      padding-left: 0;
      padding-right: 8px;
    }

    &__box-caption {
      font-size: 21px;
      line-height: 26px;
      margin-bottom: 56px;
      width: 100%;
      text-align: left;
      padding-left: 10px;
      position: relative;
    }

    &__box-label--click {
      margin-bottom: 52px;
    }

    &__box-label--info {
      width: 648px;
      margin-bottom: 21px;
    }

    &__box-adress {
      width: 648px;
    }

    &__box-label--chekbox {
      width: 210px;
    }

    &__box-svg {
      right: 0;
      top: 34px;
    }

    &__box-textarea {
      width: 648px;
      padding-top: 16px;
    }

    &__checkbox {
      width: 230px;
    }

    &__checkbox--first {
      margin-bottom: 0;
    }

    &__checkbox--flex {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
      padding-left: 107px;
    }

    &__info-box {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &__checkbox--all {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 100%;
    }
  }

  .review__box-radio {
    display: none;
  }

  .review__checkbox:first-child {
    margin-bottom: 46px;
    margin-right: 30px;
  }

  .review__box--click::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 292px;
    top: 4px;
    right: 0;
    background-color: $color-border;
  }

  .review__box--first .review__box-caption {
    padding-left: 0;
  }

  .review__box--second .review__box-caption {
    text-align: center;
    padding-left: 0;
    margin-bottom: 18px;
  }

  .review__box--last .review__box-caption {
    text-align: center;
    padding-left: 205px;
    padding-right: 212px;
    margin-bottom: 45px;
  }

  .review__box--textarea .review__box-caption {
    text-align: center;
    padding-left: 0;
    margin-bottom: 54px;
  }

  .review__box-label--click::after {
    top: -15px;
    left: 12px;
  }

  .review__box-label--click::before {
    top: 2px;
    left: 28px;
  }

  .review__box-label--info:first-child {
    margin-bottom: 23px;
  }

  .review__box-adress--first {
    margin-bottom: 0;
  }

  .review__box--second .review__box-caption::after {
    content: "";
    display: block;
    position: absolute;
    width: 120px;
    height: 1px;
    top: 9px;
    left: 20px;
    background-color: $color-border;
  }

  .review__box--second .review__box-caption::before {
    content: "";
    display: block;
    position: absolute;
    width: 125px;
    height: 1px;
    top: 9px;
    right: 26px;
    background-color: $color-border;
  }

  .review__box--last .review__box-caption::after {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    top: 26px;
    left: 26px;
    background-color: $color-border;
  }

  .review__box--last .review__box-caption::before {
    content: "";
    display: block;
    position: absolute;
    width: 125px;
    height: 1px;
    top: 26px;
    right: 32px;
    background-color: $color-border;
  }

  .review__box--textarea .review__box-caption::after {
    content: "";
    display: block;
    position: absolute;
    width: 123px;
    height: 1px;
    top: 8px;
    left: 18px;
    background-color: $color-border;
  }

  .review__box--textarea .review__box-caption::before {
    content: "";
    display: block;
    position: absolute;
    width: 125px;
    height: 1px;
    top: 8px;
    right: 25px;
    background-color: $color-border;
  }
}

@media (min-width: 1200px) {
  .review {
    margin-top: 44px;
    width: 1200px;
    padding-left: 104px;
    padding-right: 104px;
    justify-content: space-between;

    &__box {
      width: 491px;
    }

    &__box--click {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    &__box--first {
      padding-left: 78px;
    }

    &__box--second {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      margin-bottom: 45px;
      margin-top: 18px;
    }

    &__box-label--decs {
      display: none;
    }

    &__box-label--click {
      padding-left: 92px;
      margin-bottom: 52px;
    }

    &__box-adress {
      width: 317px;
      padding-top: 20px;
    }

    &__box-label--text {
      padding-left: 12px;
      margin-right: 18px;
      margin-top: 17px;
    }

    &__box-label--info {
      display: flex;
      width: 489px;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0;
    }

    &__box-input {
      width: 350px;
    }

    &__box-input--surname {
      width: 312px;
    }

    &__box-input--patronymic {
      width: 314px;
    }

    &__box-svg {
      right: 74px;
      top: 8px;
    }

    &__box--last {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
      margin-top: 8px;
    }

    &__box--textarea {
      width: 100%;
      padding-left: 14px;
      padding-right: 0;
    }

    &__box-textarea {
      width: 960px;
    }

    &__btn {
      width: 480px;
      margin-left: 17px;
      padding-top: 2px;
      padding-bottom: 0;
    }

    &__box-caption--click {
      padding-left: 87px;
    }

    &__info-box {
      display: flex;
      justify-self: flex-start;
      flex-wrap: wrap;
      width: 100%;
    }

    &__checkbox--all {
      display: flex;
    }

    &__checkbox--flex {
      width: 494px;
      padding-left: 15px;
      padding-right: 0;
      margin-left: 0;
      margin-right: 0;
      justify-content: space-between;
    }

    &__checkbox {
      margin-top: 10px;
    }

    &__info {
      padding-right: 16px;
    }
  }

  .review__box-radio {
    display: none;
  }

  .review__box-label--click::after {
    top: -15px;
    left: 17px;
  }

  .review__box-label--click::before {
    top: 2px;
    left: 35px;
  }

  .review__box--second .review__box-caption {
    margin-bottom: 58px;
  }

  .review__box-label--info:last-child .review__box-label--text {
    padding-left: 4px;
  }

  .review__box-label--info:last-child .review__box-svg {
    right: 2px;
  }

  .review__box.review__box--last .review__box-caption {
    padding-left: 346px;
    padding-right: 346px;
  }

  .review__box-label--info:first-child {
    margin-bottom: 0;
  }

  .review__checkbox:first-child {
    margin-right: 0;
  }

  .review__checkbox--flex.review__checkbox--last .review__checkbox:first-child {
    padding-left: 23px;
  }

  .review__checkbox--flex .review__checkbox:last-child {
    padding-left: 10px;
  }

  .review__box--second .review__box-caption::after {
    width: 280px;
    height: 1px;
    top: 7px;
    left: 14px;
  }

  .review__box--second .review__box-caption::before {
    width: 280px;
    height: 1px;
    top: 7px;
    right: 14px;
  }

  .review__box--last .review__box-caption::after {
    width: 280px;
    height: 1px;
    top: 24px;
    left: 14px;
  }

  .review__box--last .review__box-caption::before {
    width: 280px;
    height: 1px;
    top: 24px;
    right: 14px;
  }

  .review__box--textarea .review__box-caption::after {
    width: 280px;
    height: 1px;
    top: 10px;
    left: 7px;
  }

  .review__box--textarea .review__box-caption::before {
    width: 280px;
    height: 1px;
    top: 10px;
    right: 7px;
  }

  .review__box--click::after {
    right: -4px;
  }
}
