.social {
  width: 320px;
  list-style: none;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 1px;

  &__item {
    margin-right: 4px;
    margin-left: 2px;
  }

  &__item-like {
    font-size: 0;
    position: relative;
    display: block;
    width: 46px;
    height: 48px;
    background-color: $color-blue;
  }

  &__item-svg {
    position: absolute;
    top: 14px;
    left: 15px;
  }
}

.social__item-svg path {
  fill: $color-white;
}

@media (min-width: 768px) {
  .social {
    width: 276px;
    padding-left: 47px;
    margin-top: 5px;
  }

  .social__item-like--fb svg {
    left: 21px;
  }
}

@media (min-width: 1200px) {
  .social {
    padding-left: 0;
  }
}
