.main-about {
  margin: 0;

  &__list {
    background: $color-background;
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 28px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 32px;
    padding-right: 32px;
  }


  &__item {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
    position: relative;
  }

  &__caption-black {
    font-family: 'ptsans', sans-serif;
    color: $color-black;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 0;
    margin-bottom: 18px;
  }

  &__text-black {
    font-family: 'ptsans', sans-serif;
    color: $color-black;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    margin-top: 0;
    margin-bottom: 18px;
  }
}

.main-about__list>.main-about__item:last-child {
  margin-bottom: 7px;
}

.main-about__list>.main-about__item:last-child::after {
  display: none;
}

.main-about__list>.main-about__item::after {
  content: '';
  position: absolute;
  width: 280px;
  height: 1px;
  background: $color-background-gray;
  bottom: -7px;
}
