.review {
  &__box-caption {
    font-family: 'ptsans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
  }

  &__box-label {
    font-family: 'ptsans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: $color-text-gray;
  }

  &__box-label--click {
    font-family: 'ptsans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    color: $color-black;
  }

  &__btn {
    font-family: 'ptsans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
    $color-background: #81B3D2;
  }
}
