$color-black: #000000;
$color-text-gray: #333333;
$color-white: #ffffff;
$color-blue: #81b3d2;
$color-background: #eeeeee;
$color-background-gray: #d6d6d6;
$color-control: #f2f2f2;
$color-video:#5c6870;
$color-adress: #e6e6e6;
$color-gallery: #eaeaea;
$color-gallery-caption: rgba(0, 0, 0, 0.3);
$color-border: #dbdbdb;
$color-active: #766357;
$color-active-hover: #604e43;
$color-btn-hover: #669ec0;
$color-btn-focus: #5496bd;
$color-btn-text-focus: rgba(255, 255, 255, 0.3);
$color-btn-disbled: #e5e5e5;
$color-close-hover: rgba(255, 255, 255, 0.6);
$color-click-focus:#d5d5d5;
$color-click-focus-before: rgba(51, 51, 51, 0.3);
$color-radio: rgba(51, 51, 51, 0);
