$color-black: #000000;
$color-text-gray: #333333;
$color-white: #ffffff;
$color-blue: #81b3d2;
$color-background: #eeeeee;
$color-background-gray: #d6d6d6;
$color-control: #f2f2f2;
$color-video:#5c6870;
$color-adress: #e6e6e6;
$color-gallery: #eaeaea;
$color-gallery-caption: rgba(0,0,0,0.3);
$color-border: #dbdbdb;
